body {
  margin: 0px;
}
section {
  margin: 0px;
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1) 0%, rgba(0, 120, 220, 1) 100%);
  width: 100vw;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  display: table;
}

h1 {
  display: table-cell;
  vertical-align: middle;
  margin: 0px;
  font-size: 76px;
  animation: fade 0.8s ease-in-out;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes fade {
  0% {color: rgba(0,0,0,.7);}
  25% {color: rgba(0,0,0,0.5);}
  75% {color: rgba(0,0,0,0.9);}
  100% {color: rgba(0,0,0,0.7);}
}


@keyframes fade {
  0% {
    color: rgba(0,0,0,0);
    font-size: 0px;
  }
  75% {
    color: rgba(0,0,0,0.9);
    font-size: 90px;
  }
  100% {
    font-size: 76px;
  }
}
